<div class="col-lg-12" 	style="margin-top:30px;">
			<h3 class="text-center">
			<i class="fa fa-user-plus fa-2x" aria-hidden="true"></i>		SIGNUP HERE
			</h3>
			<div class="col-sm-2" style="border:1px solid #444;margin-top:30px;margin-left:40px;border-radius:5px;" >
        <%= image_tag("user.png",:alt=> '',:class => 'img-responsive',:style => "margin:0 auto;padding-top:10px;") %>
				<!-- <img src="assets/img/user.png" alt="" class="img-responsive"
				style="margin:0 auto;padding-top:10px;"> -->
				<h4 class="text-center" style="color:#398439;"> <strong>Profile Piture</strong></h4>
			</div>
			<div class="col-sm-8 col-sm-offset-1 ">
          <%= form_for :userdetail ,:url=>{:controller=>"userdetail",:action=>"addUser"} do |f|%>
				
  <div class="form-group">
    <label for="email">Name:</label>
          <%= f.text_field("name",:placeholder=>'Enter Username' ,:class=>'form-control',:required=>true) %>
  </div>
  <div class="form-group">
    <label for="contact">Contact:</label>
              <%= f.text_field("number",:placeholder=>'Enter Contact Number' ,:class=>'form-control',:required=>true) %>
  </div>
   <div class="form-group">
    <label for="shopName">Shop Name:</label>
              <%= f.text_field("shopName",:placeholder=>'Enter Shop Name' ,:class=>'form-control',:required=>true) %>
  </div>
  <div class="form-group">
  <label for="shopAdress">Shop Address:</label>
             <%= f.text_field("shopAddress",:placeholder=>'Enter Shop Address' ,:class=>'form-control',:required=>true) %>
  
</div>
  <div class="col-sm-6 col-sm-offset-3" style="margin-top:40px;">
              <%= submit_tag('Register',:class=>'btn btn-success',:style => "width:100%;") %>

  <!-- <button type="submit" class="btn btn-success" style="width:100%;">Register</button> -->
  </div>
<% end %>
			</div>
		</div>	